<?xml version="1.0"?>
<launch>

	<!-- dynamic map generation -->
	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
		<remap from="scan" to="scan_front"/>
		<param name="maxUrange" type="int" value="8"/>
		<param name="xmin" type="int" value="-20"/>
		<param name="ymin" type="int" value="-20"/>
		<param name="xmax" type="int" value="20"/>
		<param name="ymax" type="int" value="20"/>
		<param name="odom_frame" type="string" value="odom_combined"/>
	</node>

</launch>
