<?xml version="1.0"?>
<launch>

  <!-- get scan from front scanner-->
  <include file="$(find cob_sick_s300)/ros/launch/scanner_front.launch" />

  <!-- start tf broadcaster -->
  <node pkg="cob_tf_broadcaster" type="cob_tf_broadcaster" name="cob_tf_broadcaster" respawn="false" output="screen" />

  <!-- teleoperate platform with joystick -->
  <include file="$(find cob_teleop)/ros/launch/teleop_joy.launch" />
 
  <!-- dynamic map generation -->
  <include file="$(find cob_2dslam)/ros/launch/slam.launch"/>
 
</launch>
