<?xml version="1.0"?>
<launch>

	<!-- generate unified scan from front and rear scanner -->
	<!--node pkg="cob_sick_s300" type="cob_unified_scan_publisher" name="cob_unified_scan_publisher" output="screen"/-->

	<!-- dynamic map generation from unified scan -->
	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
		<remap from="scan" to="scan_front"/>
		<!--remap from="scan" to="scan_unified"/-->
		<param name="maxUrange" type="int" value="8"/>
		<param name="xmin" type="int" value="-8"/>
		<param name="ymin" type="int" value="-8"/>
		<param name="xmax" type="int" value="8"/>
		<param name="ymax" type="int" value="8"/>
		<param name="odom_frame" type="string" value="odom_combined"/>
	</node>

</launch>
