<?xml version="1.0"?>
<launch>

	<group ns="script_server" >

		<!-- upload parameters to parameter server -->
		<include file="$(find cob_script_server)/launch/upload_param.launch"/>
		<param name="pause" value="false" type="bool" />

		<!-- start script_server -->
		<node pkg="cob_script_server" type="script_server.py" name="script_server" cwd="node" respawn="false" output="screen" />

	</group>

</launch>
