<?xml version="1.0" ?>
<launch>

	<!-- upload parameters-->
	<rosparam command="load" ns="robot_config" file="$(find cob_default_config)/robots/$(env ROBOT)/robot_modules.yaml"/>
	<rosparam command="load" ns="teleop/joy" file="$(find cob_teleop)/ros/launch/teleop.yaml"/>
	<rosparam command="load" ns="teleop/modules" file="$(find cob_teleop)/ros/launch/$(env ROBOT).yaml"/>

	<!-- start cob teleop node -->
	<node pkg="cob_teleop" type="cob_teleop" name="teleop_node" ns="teleop" output="screen"/>

	<!-- run joystick -->
	<include file="$(find cob_joy)/ros/launch/$(env ROBOT).launch" />

</launch>
