<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>
  <include file="$(find move_base_stage)/move_base/move_base.xml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find cob3_test)/ipa-10cm.pgm 0.1" respawn="false" />
  <node pkg="stage" type="stageros" name="stageros" args="$(find cob3_test)/ipa.world" respawn="true" >
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>
  <include file="$(find move_base_stage)/config/amcl_node.xml"/>  
  <include file="$(find move_base_stage)/move_base/nav_view.xml"/>
</launch>
