<?xml version="1.0"?>
<launch>

  <!-- dynamic map generation -->
  <node pkg="gmapping" type="slam_gmapping" name="gmapping" respawn="false" output="screen" >
    <!--remap from="scan" to="scan_front" /-->
    <param name="xmin" value="-10"/>
    <param name="ymin" value="-10"/>
    <param name="xmax" value="10"/>
    <param name="ymax" value="10"/>
    <param name="delta" value="0.05"/>
    <!--param name="inverted_laser" value="false"/-->
    <param name="base_frame" value="base_footprint"/>
    <param name="laser_frame" value="base_hokuyo"/>
    <param name="odom_frame" value="odom"/>
    <!--param name="inverted_laser" value="false"/-->
    <!-- NEW PARAMETERS DURING HACKING SESSION :: MIKE AND NICO -->
    <!--param name="particles" value="30"/-->
    <!--param name="stt" value="0.1"/-->
    <!--param name="map_update_interval" value="1"/-->
    <!--param name="maxUrange" value="10"/-->
    <!--param name="temporalUpdate" value="3.0"/-->
  </node>

</launch>
