<?xml version="1.0"?>
<launch>

  <!-- start laser scanners -->
  <include file="$(find cob_sick_s300)/ros/launch/cob3-1_scanner_front.launch" />
  <include file="$(find cob_sick_s300)/ros/launch/cob3-1_scanner_rear.launch" />
<!--  <include file="$(find cob_hokuyo)/ros/launch/cob_hokuyo.launch" />  -->

<!-- start tof camera and point_cloud publisher -->
  <!--include file="$(find cob_camera_sensors)/ros/launch/cob3-1_tof.launch" /-->
  <!--node pkg="cob_point_cloud_publisher" type="cob_point_cloud_publisher" name="cob_point_cloud_publisher" cwd="node" output="screen" /-->
   
  <!-- start tf broadcaster -->
  <node pkg="cob_tf_broadcaster" type="cob_tf_broadcaster" name="cob_tf_broadcaster" respawn="false" output="screen" >
    <remap from="odometry" to="odom"/>
  </node>

  <!-- teleoperate platform with joystick -->
  <include file="$(find cob_teleop)/ros/launch/teleop_joy.launch" />
 
</launch>
