<?xml version="1.0"?>
<launch>

  <!-- get scan from sickS300 -->
  <include file="$(find cob_sick_s300)/ros/launch/scanner_front.launch" />
  <!--<include file="$(find sick_s300)/ros/launch/scanner_rear.launch" /> -->
  
  <!-- get the odometry -->
  <!-- start platform node -->
  <node pkg="cob_platform" type="cob_platform" name="cob_platform" cwd="node" output="screen" >
    <remap from="odometry" to="odom"/>
  </node>
 
  <!-- start tf broadcaster -->
  <node pkg="cob_tf_broadcaster" type="cob_tf_broadcaster" name="cob_tf_broadcaster" respawn="false" output="screen" >
    <remap from="odometry" to="odom"/>
  </node>

  <!-- joy node -->
  <node respawn="false" pkg="joy" type="joy" name="joystick">
    <param name="dev" type="string" value="/dev/input/js0"/>
    <param name="deadzone" value="0.12"/>
  </node>

 <!-- Axes definition-->
  <param name="axis_linear_x" value="1" type="int"/>
  <param name="axis_linear_y" value="0" type="int"/>
  <param name="axis_angular_z" value="2" type="int"/>
  <param name="scale_linear" value="0.1" type="double"/>
  <param name="scale_angular" value="0.1" type="double"/>

 <!-- cob3 teleop platform node -->
  <node pkg="cob_teleop" type="cob_teleop_platform_joy" name="teleop_platform"/>
 
</launch>
