<?xml version="1.0"?>
<launch>

  <!-- load robot description -->
  <include file="$(find cob_description)/ros/robots/upload_cob3-1.launch" />
  
  <!-- start robot_state_publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />

  <!-- get scan from sickS300 -->
  <include file="$(find cob_sick_s300)/ros/launch/cob3-1_scanner_front.launch" />
  <include file="$(find cob_sick_s300)/ros/launch/cob3-1_scanner_rear.launch" />
  <include file="$(find cob_hokuyo)/ros/launch/cob_hokuyo.launch" />

  <!-- start tof_camera and cob_point_cloud_publisher -->
  <include file="$(find cob_camera_sensors)/ros/launch/cob3-1_tof.launch" />
  <include file="$(find cob_point_cloud_publisher)/ros/launch/point_cloud_publisher.launch" />
  
  <!-- get the odometry -->
  <!-- start teleoperated platform -->
  <include file="$(find cob_teleop)/ros/launch/teleop_joy.launch" />
 
</launch>
