<?xml version="1.0"?>
<launch>

  <!-- send arm urdf to parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find cob_description)/ros/robots/$(env ROBOT).urdf.xacro'" />

  <!-- start robot_state_publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />

  <!-- get scan from sickS300 -->
  <include file="$(find cob_sick_s300)/ros/launch/front.launch" />
  <include file="$(find cob_sick_s300)/ros/launch/rear.launch" />
  <include file="$(find cob_hokuyo)/ros/launch/hokuyo.launch" />

  <!-- start teleoperated base -->
  <include file="$(find cob_base)/ros/launch/base.launch" />
  <include file="$(find cob_teleop)/ros/launch/teleop.launch" />
 
  <!-- start move base -->
  <include file="$(find cob_2dnav)/ros/launch/2dnav.launch" />
 
</launch>
