<?xml version="1.0"?>
<launch>

  <include file="$(find cob_machine)/cob3-sim.machine" /> 


  <!-- need to clear known objects from scans -->  
<!--
  <node machine="pc1" pkg="planning_environment" type="clear_known_objects" name="laser_clear_objects" output="screen">
    <remap from="cloud_in" to="full_cloud" />
    <remap from="cloud_out" to="full_cloud_known" />
    <param name="sensor_frame" type="string" value="head_tof_link" />    	   
    <param name="fixed_frame" type="string" value="/map" />
    <param name="object_padd" type="double" value="0.02" />
    <param name="object_scale" type="double" value="1.0" />
    <param name="filter_static_objects" type="bool" value="true"/>
  </node>
-->

  <!-- displaying known model markers -->
<!--
  <include file="$(find planning_environment)/launch/display_planner_collision_model.launch" />
  <include file="$(find planning_environment)/launch/display_planner_collision_model_ik.launch" />
-->

  <node machine="pc1" pkg="point_cloud_converter" type="point_cloud_converter" name="pcc1" output="screen">
	<remap from="points_in" to="full_cloud"/>
	<remap from="points2_out" to="full_cloud2"/>
  </node>	

	
	
  <!-- need to individually self filter scans -->
  
  <!-- expects PointCloud2 -->
  <include file="$(find cob_arm_navigation)/launch/cob3_tilt_laser_self_filter.launch" />

  <!-- assemble pointcloud into a full world view -->
<!--
  <node machine="c2" pkg="laser_assembler" type="point_cloud_assembler" output="screen"  name="point_cloud_assembler">
    <remap from="cloud" to="tilt_scan_cloud_filtered"/>
    <param name="tf_cache_time_secs" type="double" value="10.0" />
    <param name="tf_tolerance_secs" type="double" value="0.0" />
    <param name="max_clouds" type="int" value="400" />
    <param name="ignore_laser_skew" type="bool" value="true" />
    <param name="fixed_frame" type="string" value="base_link" />
  </node>
-->
<!--  
  <node machine="c2" pkg="pr2_arm_navigation_perception" type="pr2_laser_snapshotter" output="screen" name="snapshotter">
    <remap from="laser_scanner_signal" to="laser_tilt_controller/laser_scanner_signal"/>
    <remap from="build_cloud" to="point_cloud_assembler/build_cloud" />
    <remap from="full_cloud" to="full_cloud_filtered" />
  </node>
-->
 
  <node machine="pc1" pkg="point_cloud_converter" type="point_cloud_converter" name="pcc2" output="screen">
	<remap from="points2_in" to="full_cloud_filtered2"/>
	<remap from="points_out" to="full_cloud_filtered"/>
  </node>

  
  <!-- start collision map -->
  <include file="$(find cob_arm_navigation)/launch/cob3_collision_map_self_occ.launch" />
  
</launch>
