<?xml version="1.0"?>
<launch> 
 	<!-- send additional description parameters -->
  <include file="$(find cob_arm_navigation)/launch/cob3_planning_environment.launch" />

	<!-- displaying known model markers -->
 	<include file="$(find cob_arm_navigation)/launch/cob3_display_planner_collision_model.launch" />

	<!-- load planning -->
  <include file="$(find cob_arm_navigation)/launch/cob3_ompl_planning.launch"/>

	<!-- load controllers -->
  <include file="$(find cob_arm_navigation)/launch/cob3_trajectory_filter.launch"/>
	<!-- <include file="$(find trajectory_filter_server)/launch/trajectory_unnormalize.launch"/> -->
	
	<!-- load move_arm -->
  <include file="$(find cob_arm_navigation)/launch/cob3_move_arm.launch"/>
	<!-- needs environment-server -->


</launch>
