<?xml version="1.0"?>
<launch> 
 	<!-- send additional description parameters -->
  <include file="$(find cob_planning)/launch/cob3_planning_environment.launch" />

	<!-- load laser-perception -->
	<!-- <include file="$(find cob_planning)/launch/cob3_laser_perception.launch"/> -->

	<!-- displaying known model markers -->
  <include file="$(find cob_planning)/launch/cob3_display_planner_collision_model.launch" />
  <include file="$(find cob_planning)/launch/cob3_display_planner_collision_model_ik.launch" />

	<!-- load planning -->
  <include file="$(find cob_planning)/launch/cob3_ompl_planning.launch"/>

	<!-- load planning_environment -->
  <include file="$(find cob_planning)/launch/cob3_environment_server.launch"/>

	<!-- load controllers -->
  <include file="$(find cob_planning)/launch/cob3_trajectory_filter.launch"/>
	<!-- <include file="$(find trajectory_filter_server)/launch/trajectory_unnormalize.launch"/> -->
	
	<!-- load move_arm -->
	<include file="$(find cob_planning)/launch/cob3_move_arm.launch"/>
	<!-- needs environment-server -->


	<!-- load ik -->
  <!-- PR2: <include file="$(find pr2_arm_navigation_kinematics)/launch/right_arm_collision_free_ik.launch"/> -->
	<!-- cob: ik-solver wird bereits durch cob_bringup cob3-sim_empty_world.launch gestartet -->

</launch>
