<?xml version="1.0"?>
<launch>

  <!-- start cob3_platform -->
  <node pkg="cob3_platform" type="cob3_platform" name="cob3_platform" cwd="node" respawn="false" output="screen" />

  <!-- get scan from sickS300 -->
  <include file="$(find sick_s300)/ros/launch/scanner_front.launch" />

  <!-- get scan hokuyo 
  <include file="$(find cob3_hokuyo)/ros/launch/cob3_hokuyo.launch"/>
  -->

  <!-- start tf broadcaster -->
  <node pkg="cob3_tf_broadcaster" type="cob3_tf_broadcaster" name="cob3_tf_broadcaster" respawn="false" output="screen" />

  <!-- dynamic map generation -->
  <node pkg="gmapping" type="slam_gmapping" name="gmapping" respawn="false" output="screen" >
    <remap from="scan" to="scan" />
    <param name="xmin" value="-2.5"/>
    <param name="ymin" value="-2.5"/>
    <param name="xmax" value="2.5"/>
    <param name="ymax" value="2.5"/>
    <param name="delta" value="0.10"/>
    <param name="inverted_laser" value="true"/>
    <param name="maxUrange" value="10"/>
    <param name="base_frame" value="base_footprint"/>
    <param name="laser_frame" value="base_laser_front"/>
    <param name="odom_frame" value="odom"/>
  </node>

  <!-- teleoperate platform with joystick -->
  <include file="$(find cob3_teleop)/ros/launch/cob3_teleop_platform_joy.launch" />

</launch>
